<!DOCTYPE html>
<html lang="en">

<!--
*************************************
* Programmer: Kevin Salerno
* Class ID: ksalern4336
* Lab2
* CIS 3900: Business Web Architecture
* Fall 2015
* Due date: 10/08/15
* Date completed: 10/22/15
*************************************
* Program Explanation
* This is the first HTML page for the lab. I used my Fraternity chapter due to us needing one, this
* will be the home page with our calendar, events, and any news.
*************************************
-->

<!-- the header block, which contains our links to our style sheet and favicon -->
<head>
    <% include ../../partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<!-- the body of the document. everything can be found in here -->
<body>

	<!-- our wrapper contains everything we want minus the body for background -->
	<div class="wrapper container-fluid center-block">
	
	<!-- header div, contains the logo as a background -->
		<div class="row">
					<div class="col-md-12">
	<header>
		<% include ../../partials/header %>
	</header>
</div>
</div>
	
	
			<div class="row container-fluid">
	<!-- a wrapper of sorts for our content after all floating side divs are positioned -->
	<div class="content">

	<div class="col-md-9 col-md-push-3">
	<!-- a div with a class to select our gallery widget -->
	<div class="widget">
		<h1>Create New Member</h1>
		<% include ../../partials/status %>
		<!-- c -->
		<p><a onclick="history.go(-1);" class="btn btn-info"><span class="glyphicon glyphicon-menu-left"></span></a><strong>Create New Member</strong></p>

			<form method="post" action="/dashboard/members/create">
				<div class="form-group">
					<div class="col-md-5">
							<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" autofocus="true" required>
					</div>

					<div class="col-md-5">
							<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
					</div>

					<div class="col-md-2">
						<div class="input-group">
							<span class="input-group-addon">
							<input type="checkbox" id="checkPledge" checked="true">
							</span>
							<input type="number" class="form-control" id="pin" name="pin" placeholder="Pin #">
						</div>
					</div>

					<div class="col-md-6">
							<input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
					</div>

					<div class="col-md-9">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>

					<div class="col-md-6">
							<input type="text" class="form-control" id="address1" name="address1" placeholder="Address 1">
					</div>

					<div class="col-md-6">
							<input type="text" class="form-control" id="address2" name="address2" placeholder="Address 2">
					</div>			

					<div class="col-md-4">
							<input type="text" class="form-control" id="city" name="city" placeholder="City">
					</div>		

					<div class="col-md-2">
						<select class="form-control" name="state">
							<option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option selected="selected" value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
						</select>
					</div>	

					<div class="col-md-4">
							<input type="text" class="form-control" id="zip" name="zip" placeholder="Zip">
					</div>				

					<div class="col-md-4">
						<select class="form-control" name="status">
							<option value="NULL">Member Status</option>
						</select>
					</div>

					<div class="col-md-4">
						<select class="form-control" name="eboard">
							<option value="NULL">Eboard Position</option>
						</select>
					</div>		

						<div class="col-md-4">
						<select class="form-control" name="chair">
							<option value="NULL">Chair Position</option>
						</select>
					</div>	
					
					<div class="col-md-12" style="text-align: center;">
						<br>
						<input type="submit" class="btn btn-info" value="Create Member">
					</div>
				</div>
			</form>
		
	</div>

</div>


<div class="col-md-3 sideleft col-md-pull-9">

	<!-- the main nav. contains links to other parts of website -->
	<nav>
		<% include ../../partials/nav %>
	</nav>


	<!-- the login box on left. only for looks currently -->
	<div class="widget side login">
		<% include ../../partials/login %>
	</div>
	
		
	<!-- social media side div -->
	<div class="widget side social">
		<% include ../../partials/socialmedia %>
	</div>
</div>

	</div>
</div>


	<div class="row">
		<div class="col-md-12">
	<!-- our footer element, to be displayed at the bottom of every page -->
	<footer>
		<% include ../../partials/footer %>
	</footer>
</div>
</div>

	<% include ../../partials/bootstrap %>
</body>



</html>