<!DOCTYPE html>
<html lang="en">

<!--
*************************************
* Programmer: Kevin Salerno
* Class ID: ksalern4336
* Lab2
* CIS 3900: Business Web Architecture
* Fall 2015
* Due date: 10/08/15
* Date completed: 10/22/15
*************************************
* Program Explanation
* This is the first HTML page for the lab. I used my Fraternity chapter due to us needing one, this
* will be the home page with our calendar, events, and any news.
*************************************
-->

<!-- the header block, which contains our links to our style sheet and favicon -->
<head>
    <% include partials/head %>
</head>

<!-- the body of the document. everything can be found in here -->
<body>

	<!-- our wrapper contains everything we want minus the body for background -->
	<div class="wrapper container-fluid center-block">
	
	<!-- header div, contains the logo as a background -->
		<div class="row">
					<div class="col-md-12">
	<header>
		<% include partials/header %>
	</header>
</div>
</div>
	
				<div class="row container-fluid">
	
	<!-- a wrapper of sorts for our content after all floating side divs are positioned -->
	<div class="content">

	<div class="col-md-9 col-md-push-3">
	<!-- a div with a class to select our gallery widget -->
<div class="widget">
		<h1>Our History</h1>
		<!-- a table to show gallery images in a grid -->
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet vulputate quam, ac feugiat mi aliquet consectetur. Aliquam auctor magna eget nulla pellentesque convallis. Nulla eu luctus erat, eget interdum est. Cras vel accumsan massa. Sed commodo purus felis, in ultricies lectus dictum et. Proin nec nibh eros. Ut vel ipsum et libero lobortis dictum. Nunc sollicitudin leo a velit posuere, non volutpat nisi rutrum. Donec ut malesuada lorem, sed sollicitudin massa. Sed finibus lacus non elit scelerisque pretium. Proin congue rhoncus dui, id sagittis neque porttitor nec. Aliquam erat massa, sagittis nec ex sit amet, vestibulum dapibus enim. <br> 
		<img class="pull-left" src="founders.jpg" alt="phi sigma kappa founders">
Donec sodales, mauris venenatis facilisis interdum, nisi elit auctor nisi, non ultrices dolor nulla eget magna. Proin lacus metus, gravida sed nulla id, posuere sollicitudin quam. Etiam finibus malesuada quam, condimentum imperdiet ante feugiat sit amet. Mauris id congue turpis, sit amet vestibulum arcu. Nam imperdiet erat ut massa egestas, nec semper dolor accumsan. Vestibulum non interdum orci. Pellentesque euismod lacus bibendum gravida posuere. Etiam eros arcu, viverra tempus maximus ac, imperdiet et felis. Ut eget luctus ante. <br>
		<img class="pull-right" src="hoekje.jpg" alt="hoekje hall">
Sed ac laoreet leo. Vestibulum consequat porttitor nunc, eget porttitor metus ullamcorper ut. Aliquam vel leo non nulla fermentum pulvinar at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas nunc ut ligula bibendum, sed sagittis eros finibus. Vestibulum fermentum turpis blandit sapien malesuada finibus. Praesent sodales, elit nec efficitur molestie, erat eros lobortis est, a dignissim leo dolor sit amet mi. Sed eu tempus turpis. Suspendisse porttitor scelerisque ligula in pharetra. Aliquam vitae lacinia urna.</p>
	</div>

</div>


<div class="col-md-3 sideleft col-md-pull-9">

	<!-- the main nav. contains links to other parts of website -->
	<nav>
		<% include partials/nav %>
	</nav>


	<!-- the login box on left. only for looks currently -->
	<div class="widget side login">
		<% include partials/login %>
	</div>
	
		
	<!-- social media side div -->
	<div class="widget side social">
		<% include partials/socialmedia %>
	</div>
</div>

	</div>
</div>


	<div class="row">
		<div class="col-md-12">
	<!-- our footer element, to be displayed at the bottom of every page -->
	<footer>
		<% include partials/footer %>
	</footer>
</div>
</div>

	<% include partials/bootstrap %>
</body>



</html>