		<div class="widget">
<h1>Events</h1>
		<!-- this div was the solution to auto-sizing the google iframe -->

		<!-- an iframe object from google to show our events in agenda
				<div class="responsive-iframe-container-events">
				 view -->
		<div class="events">

				<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=360&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=wmuphisigs%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="194" height="360" frameborder="0" scrolling="no"></iframe>
			</div>
			</div>