	<!-- our footer element, to be displayed at the bottom of every page -->
		<p>
		<small>
		<!-- a span to explicitly select our footer nav elements -->
			<span class="footnav">
			<a href="#top">Top</a> | <!-- a simple text separator -->
			<a href="/contact">Contact</a> |
			<!-- this is a dead link, just for looks! -->
			<a href="/alumni">Alumni</a>
			</span>
		<br>
		<!-- copy character to display the copywrite logo -->
		Copyright &copy; Phi Sigma Kappa Fraternity
		<br>
		Kevin Salerno
		<br>
		All Rights Reserved
		</small>
		</p>