	<!-- a favicon to display in the tab -->
	<title><%= title %> - Phi Sigma Kappa Chi Tetarton</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">


<!-- mobile only
	<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)">
	-->


		<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
				<link href="/css/style.css" type="text/css" rel="stylesheet">

	
