<div class="hidden-xs hidden-sm navdesktop">
<ul>
			<li>
			<a href="/">Home</a>
			</li>
			
			<li>
			<a href="/brothers">Brothers</a>
			</li>
			
			<li>
			<a href="/history">History</a>
			</li>
			
			<li>
			<a href="/join">Join</a>
			</li>

			<li>
			<a href="/alumni">Alumni</a>
			</li>
			
			<li>
			<a href="/contact">Contact</a>
			</li>
</ul>
</div>

<div class="hidden-md hidden-lg navbar navbar-default navbar-fixed-top">

<div class="container">

<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse" 
data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar">

<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a class="navbar-brand" >Phi Sigma Kappa</a>

</div>

<div class="collapse navbar-collapse" aria-expanded="true">
<ul class="nav navbar-nav">
			<li>
			<a href="/">Home</a>
			</li>
			
			<li>
			<a href="/brothers">Brothers</a>
			</li>
			
			<li>
			<a href="/history">History</a>
			</li>
			
			<li>
			<a href="/join">Join</a>
			</li>

			<li>
			<a href="/alumni">Alumni</a>
			</li>
			
			<li>
			<a href="/contact">Contact</a>
			</li>
</ul>
</div>
</div>
</div>