<h1>Member Navigation</h1>
<ul>
			<li>
			<a href="/dashboard/members">Associates</a>
			</li>

			<li>
			<a href="/dashboard/members">Members</a>
			</li>

			<li>
			<a href="/dashboard/members">Alumni</a>
			</li>

			<li>
			<a href="/dashboard/files">Chapter Files</a>
			</li>
			
			<li>
			<a href="https://app.groupme.com/chats" target="_blank">GroupMe Chat</a>
			</li>
			
			<li>
			<a href="/dashboard/cameras">Security Cameras</a>
			</li>
</ul>