<h1>Social Media</h1>

<div class="container-fluid">

<div class="row no-gutter">
	<div class="col-md-4 col-sm-4 col-xs-4 center-block no-gutter">
				<!-- the anchor link to our instagram -->
				<a href="https://instagram.com/wmuphisigs/">
				<!-- an image of instagram icon -->
				<img class="social-icon"  src="/images/instagram.png" alt="instagram">
				</a>
	</div>
	
	<div class="col-md-4 col-sm-4 col-xs-4 center-block no-gutter">
				<!-- the anchor link to our facebook -->
				<a href="https://www.facebook.com/wmuPhiSigs">
				<!-- the image of facebook logo -->
				<img class="social-icon" src="/images/facebook.png" alt="facebook">
				</a>
	</div>
	
	<div class="col-md-4 col-sm-4 col-xs-4 center-block no-gutter">
				<!-- anchor link to our twitter -->
				<a href="https://twitter.com/PhiSigsWMU">
				<!-- image of twitter logo -->
				<img class="social-icon" src="/images/twitter.png" alt="twitter">
				</a>
	</div>
</div>

<div class="row no-gutter">
	<div class="col-md-4 col-sm-4 col-xs-4 center-block no-gutter follow-btn">
		<span class="ig-follow" data-id="fea726d1cf" data-handle="wmuphisigs" data-count="false" data-size="large" data-username="false"></span><script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script>
	</div>
	
	<div class="col-md-4 col-sm-4 col-xs-4 center-block no-gutter follow-btn"><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fb_LT/sdk.js#xfbml=1&version=v2.5&appId=961911597172613";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-like" data-href="https://www.facebook.com/wmuPhiSigs/" data-width="100%" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
	
	<div class="col-md-4 col-sm-4 col-xs-4 center-block no-gutter follow-btn">
	<a href="https://twitter.com/PhiSigsWMU" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @PhiSigsWMU</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</div>

<div class="row no-gutter">
	<div class="col-md-12 twitter no-gutter">
<!-- this was a widget taken directly from twitter.com for display of recent tweets on our account.
			I did not write this script. Final website purposes, I don't take credit for! -->
			<a class="twitter-timeline" href="https://twitter.com/PhiSigsWMU" data-widget-id="657278533606227969">Tweets by @PhiSigsWMU</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
</div>